{% extends 'base.html.twig' %}

{% block title %}PArticle{% endblock %}

{% block body %}
    <h1>PArticle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ p_article.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ p_article.designation }}</td>
            </tr>
            <tr>
                <th>Abreviation</th>
                <td>{{ p_article.abreviation }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ p_article.dateCreation ? p_article.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('p_article_index') }}">back to list</a>

    <a href="{{ path('p_article_edit', {'id': p_article.id}) }}">edit</a>

    {{ include('p_article/_delete_form.html.twig') }}
{% endblock %}
