{% extends 'base.html.twig' %}

{% block title %}PClient index{% endblock %}

{% block body %}
        <style id="savepage-cssvariables">
                body {
                    background-image: url({{ asset('images/back2.png') }} ) !important; 
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-size: cover;
                }
                .login-back-left {
                    background:#ffffff00 !important;
                }


    </style>
    {{ include ('inc/navbar.html.twig') }}

    {# <h1>Edit PClient</h1> #}

    {{ include('p_client/_form.html.twig', {'button_label': 'Modifier', 'card_header' : 'Modifier client'}) }}

    {# <a class="text-center" href="{{ path('p_client_index') }}">back to list</a> #}

    {# {{ include('p_client/_delete_form.html.twig') }} #}
{% endblock %}
